
@model List<Organisation.Web.ViewModels.TeamMemberViewModel>
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<div class="row">
   
        <div class="col col-md-12">
            

                <lable class="text-success"><h2>Not Yet Implemented</h2>
                </lable>


            </div>
     
    
</div>


