@model IEnumerable<Organisation.Web.ViewModels.GroupViewModel>
@{
    ViewBag.Title = "Group";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panelbg">
            <div class="panel-heading panelheadingbg" >Groups</div>
            <div class="panel-body">
                @Html.Partial("_GroupView", Model)
            </div>
        </div>
    </div>
</div>

