@model IEnumerable<Organisation.Web.ViewModels.TeamMemberViewModel>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script type="text/javascript">
    function Filter(data) {

        var text = $("#search").val();


        $.ajax({
            url: '/Home/Filter',
            type: "POST",
            data: {
                search: text,

            },
            success: function (value) {
              
                    $("#indexdiv").html(value);
               
            }
        });
    }
    $(document).ready(function () {
        debugger
        $.ajax({
            url: '/Home/Index',
            type: "POST",
            data: {
                id: 1,
            },
            success: function (value) {

                $("#indexdiv").html(value);
            }
        });

    });
    
   
  

</script>
    
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="panelbg panel ">
                    <div class="panel-heading panelheadingbg">
                        
                            Members
                        <lable id="btn" typeof="submit" class="glyphicon  glyphicon-search  pull-right " height="20px" onclick="Filter(2)"></lable>
                                <input type="text" id="search" class="text-success pull-right" placeholder="Search Member" onkeyup="Filter(1)" />
                        
                        </div>
                        
                   
                    <div class="panel-body">
                        <input id="type" type="text" value="2" hidden="hidden">
                        <input id="pagesize" type="text" value="6" hidden="hidden">
                        <input id="memcount" type="text" value="@Model.Count()" hidden="hidden">
                        <input id="currentpage" type="text" value="1" hidden="hidden">
                        <input id="memberViewCalledFrom" type="text" value="3" hidden="hidden">
                        <input id="id" type="text" value="0" hidden="hidden">
                        <div class="row space">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-1">
                                
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        { 
                        <div id="indexdiv">

                            
                        </div>
                        <div id="search">


                        </div>
                        }
                </div>
            </div>
        </div>
    </div>
