@model IEnumerable<Organisation.Web.ViewModels.TeamViewModel>
@{
    ViewBag.Title = "Teams";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panelbg">
            <div class="panel-heading panelheadingbg" >Teams</div>
            <div class="panel-body" >
                @Html.Partial("_TeamView", Model)
            </div>
        </div>
    </div>
</div>

